@model JSYCRM.Models.z_user

@{
    ViewBag.Title = "View User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Docs nav ================================================== -->
<div class="page-header">
    <h4>View User</h4>
</div>
<div class="row">
    <div class="span12">
            @if (ViewBag.message != null)
            { 
                @Html.Partial("_OperaMessage", new { ViewBag.message })   
            }
            <table class="table" border="0" cellspacing="1" cellpadding="0">
                <tfoot>
                    <tr>
                        <td style="width:200px;">&nbsp;</td>
                        <td>
                            <a class="btn btn-primary" href="~/User/Edit/@Html.DisplayFor(model => model.ID)">Edit</a>
                            &nbsp;
                            <input class="btn btn" type="button" onclick="javascript: history.go(-1)" value="Back">

                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td class="tdleft">Account</td>
                        <td>
                            @Html.DisplayFor(model => model.USER_CD)
                        </td>
                    </tr>
                    <tr>
                        <td class="tdleft">User Name</td>
                        <td>
                            @Html.DisplayFor(model => model.LAST_NAME)
                        </td>
                    </tr>
                    <tr>
                        <td class="tdleft">Email</td>
                        <td>
                            @Html.DisplayFor(model => model.EMAIL)
                        </td>
                    </tr>
                    <tr>
                        <td class="tdleft">Phone</td>
                        <td>
                            @Html.DisplayFor(model => model.MOBILE_NUM)
                        </td>
                    </tr>
                    <tr>
                        <td class="tdleft">Comment</td>
                        <td>
                            @Html.DisplayFor(model => model.DESCRIPTION)
                        </td>
                    </tr>
                    <tr>
                        <td class="tdleft">Role</td>
                        <td>
                            @foreach (JSYCRM.Models.z_role item in ViewBag.z_role_list)
                            { 
                                <span>@item.NAME; </span> 
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>

