@model IEnumerable<JSYCRM.Models.m_worker>

@{
    ViewBag.Title = "工友信息库";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    span.work_status1 {
        background-color:#999966;
        display:block;
        padding:1px;
        width:60px;
    }
    span.work_status2 {
        background-color:#FFCC66;
        display:block;
        padding:1px;
        width:60px;
    }
    span.work_status3 {
        background-color:#CC0066;
        color:white;
        display:block;
        padding:1px;
        width:60px;
    }
    span.work_status4 {
        background-color:#3333FF;
        color:white;
        display:block;
        padding:1px;
        width:60px;
    }
    span.work_status5 {
        background-color:#006600;
        color:white;
        display:block;
        padding:1px;
        width:60px;
    }
    span.work_status6 {
        background-color:#FF0000;
        display:block;
        padding:1px;
        width:60px;
    }
    span.work_status100 {
        background-color:#FF0000;
        display:block;
        padding:1px;
        width:60px;
    }
</style>
<div class="page-header">
    <h4>工友信息库</h4>
</div>
@if (ViewBag.message != null)
{ 
    @Html.Partial("_OperaMessage", new { ViewBag.message })   
}
        <p class="view" id="view_by">
            <b>视图：</b>
            <img src="~/Images/by_time.png" />
            <a href="~/WorkerPool/Index?by=today">今日新建</a> | 
            <a href="~/WorkerPool/Index?by=week">本周新建</a> | 
            <a href="~/WorkerPool/Index?by=d15">15日内新建</a> |
            <a href="~/WorkerPool/Index?by=d30">30日内新建</a> | 	
            <a href="~/WorkerPool/Index?by=add">最近创建</a> | 
            <a href="~/WorkerPool/Index?by=update">最近修改</a>  &nbsp;  &nbsp; 
        </p>
        <div class="row">
            <div class="span12">
                <ul class="nav pull-left">
                    <li class="pull-left">
                        <div class="btn-group pull-left">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">&nbsp;批量操作<span class="caret"></span></a><ul class="dropdown-menu">
                                @if(ViewBag.canAddorImport)
                                {
                                    <li><a id="delete" style="margin-right: 5px;">批量删除</a></li>
                                }
                                <li><a id="remove" style="margin-right: 5px;" href="javascript:void(0)">批量领取</a></li>
                            </ul>
                        </div>
                        &nbsp;&nbsp; 
                    </li>
                    <li class="pull-left">
                        <form class="form-inline" id="searchForm" action="~/WorkerPool/Index" method="get">
                            <input type="text" style="display:none;" name="by" value="@(ViewBag.by)" />
                            <ul class="nav pull-left">
                                <li class="pull-left">
                                    <select style="width: auto" id="field" name="field">
                                        <option class="" value="">--选择筛选条件--</option>
                                        <option class="text" value="B_NAME">姓名</option>
                                        <option class="text" value="B_TEL">联系方式</option>
                                        <option class="text" value="B_ADDRESS">联系地址</option>
                                        <option class="text" value="B_ID_CARD">身份证号</option>
                                        <option class="text" value="F2.VALUE">创建地区</option>
                                        <option class="text" value="F3.VALUE">工作地点</option>
                                    </select>&nbsp;&nbsp;
                                </li>
                                <li id="conditionContent" class="pull-left">
                                    <select id="condition" style="width: auto" name="condition">
                                        <option value="contains">包含</option>
                                        <option value="not_contain">不包含</option>
                                        <option value="is">是</option>
                                        <option value="isnot">否</option>
                                        <option value="start_with">开始字符</option>
                                        <option value="end_with">结束字符</option>
                                    </select>&nbsp;&nbsp;
                                </li>
                                <li id="searchContent" class="pull-left">
                                    <input id="search" type="text" class="input-medium search-query" name="search" value="@(ViewBag.search)" />&nbsp;&nbsp;</li>
                                <li class="pull-left">
                                    <input type="hidden" name="m" value="leads" />
                                    <button type="submit" id="dosearch" class="btn">
                                        <img src="~/Images/search.png" />
                                        搜索</button>
                                    &nbsp;</li>
                            </ul>
                            <input type="hidden" name="act" id="act" value="search" />
                        </form>
                    </li>
                </ul>
                @if(ViewBag.canAddorImport)
                {
                    <div class="pull-right">
                        <a href="~/WorkerPool/Create" class="btn btn-primary"><i class="icon-plus"></i>&nbsp; 新建工友</a>&nbsp;
				        <div class="btn-group">
                            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="icon-wrench"></i>&nbsp; 工友工具<span class="caret"></span></button><ul class="dropdown-menu">
                                <li><a href="~/WorkerPool/ImportWorker" id="import_excel" class="link"><i class="icon-down"><i class="icon-upload"></i>导入工友</i></a></li>
                                <li><a href="~/WorkerPool/ExportWorker?page=@(ViewBag.page)&field=@(ViewBag.field)&condition=@(ViewBag.condition)&search=@(HttpUtility.UrlEncode(HttpUtility.UrlEncode((string)ViewBag.search)))&by=@(ViewBag.by)" onclick="return window.confirm(&quot;您确定要导出工友吗 ?&quot;);" class="link"><i class="icon-download"></i>导出工友</a></li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
            <div class="span12">
                <form id="form1" action="" method="post">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr id="childNodes_num">
                                <th>
                                    <input type="checkbox" id="check_all" /></th>
                                <th>姓名</th>
                                <th>性别</th>
                                <th>联系方式</th>
                                <th>工作地点</th>
                                <th>创建地区</th>
                                <th>创建人</th>
                                <th>创建时间</th>
                                <th>当前状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <td id="td_colspan" colspan="10">
                                    <div class="pagination">
                                <div class="row pagination">
                                    <div class="span2">共<b>@(ViewBag.recordCount)</b> 条记录 <b>@(ViewBag.page)</b>/<b>@(ViewBag.pageNum)</b> 页</div>
                                    <div class="span">
                                        <div>
                                            <ul>
                                                @{
                                                    if (ViewBag.page > 1)
                                                    {
                                                    <li><a href="~/WorkerPool/Index?page=1&field=@(ViewBag.field)&condition=@(ViewBag.condition)&search=@(HttpUtility.UrlEncode(HttpUtility.UrlEncode((string)ViewBag.search)))&by=@(ViewBag.by)">首页</a></li>
                                                    <li><a href="~/WorkerPool/Index?page=@(ViewBag.page - 1)&field=@(ViewBag.field)&condition=@(ViewBag.condition)&search=@(HttpUtility.UrlEncode(HttpUtility.UrlEncode((string)ViewBag.search)))&by=@(ViewBag.by)">&lt; 上一页</a></li>
                                                    }
                                                    else
                                                    {
                                                    <li><span>首页</span></li>
                                                    <li><span>&lt; 上一页</span></li>
                                                    }
                                                    if (ViewBag.page < ViewBag.pageNum)
                                                    {
                                                    <li><a href="~/WorkerPool/Index?page=@(ViewBag.page + 1)&field=@(ViewBag.field)&condition=@(ViewBag.condition)&search=@(HttpUtility.UrlEncode(HttpUtility.UrlEncode((string)ViewBag.search)))&by=@(ViewBag.by)">下一页 &gt;</a></li>
                                                    <li><a href="~/WorkerPool/Index?page=@(ViewBag.pageNum)&field=@(ViewBag.field)&condition=@(ViewBag.condition)&search=@(HttpUtility.UrlEncode(HttpUtility.UrlEncode((string)ViewBag.search)))&by=@(ViewBag.by)">末页</a></li>
                                                    }
                                                    else
                                                    {
                                                    <li><span>下一页 &gt;</span></li>
                                                    <li><span>末页</span></li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="span2">
                                        跳转至第
                                        <select style="width: auto; display: inline-block;" name="p" onchange="go_pagep(this.value)">
                                            @{
                                                for (int i = 1; i <= ViewBag.pageNum; i++)
                                                {
                                                    if (i == ViewBag.page)
                                                    {
                                                <option value="~/WorkerPool/Index?page=@(i)&field=@(ViewBag.field)&condition=@(ViewBag.condition)&search=@(HttpUtility.UrlEncode(HttpUtility.UrlEncode((string)ViewBag.search)))&by=@(ViewBag.by)" selected="selected">@(i)</option> 
                                                    }
                                                    else
                                                    { 
                                                <option value="~/WorkerPool/Index?page=@(i)&field=@(ViewBag.field)&condition=@(ViewBag.condition)&search=@(HttpUtility.UrlEncode(HttpUtility.UrlEncode((string)ViewBag.search)))&by=@(ViewBag.by)">@(i)</option> 
                                                    }
                                                }    
                                            }
                                        </select><script type="text/javascript">
                                                     function go_pagep(page) {
                                                         window.location = page;
                                                     }
                                        </script>
                                        页
                                    </div>
                                </div>
                                </td>
                            </tr>
                        </tfoot>
                        <tbody>
                            @{
                                foreach (var item in Model)
                                {                                
                                 <tr>
                                    <td>
                                        <input name="id[]" class="check_list" type="checkbox" value="@(item.ID)" />
                                    </td>
                                    <td>@(item.B_NAME)</td>
                                    <td>@(item.B_GENDER)</td>
                                    <td>@(item.B_TEL)</td>
                                    <td>@(item.W_WORK_AREA)</td>
                                    <td>@(item.B_CREATE_AREA)</td>
                                    <td>@(item.CREATE_USER)</td>
                                    <td>@(item.CREATE_DATETIME.ToString("yyyy-MM-dd"))</td>
                                    <td><span class="work_status@(item.STATUS)">@(JSYCRM.Common.Common.getWorkerStatus(item.STATUS))</span></td>
                                    <td>
                                        <a href="~/WorkerPool/Details/@(item.ID)">查看</a>&nbsp;
                                        @if(ViewBag.canAddorImport)
                                        {
                                            <a href="~/WorkerPool/Edit/@(item.ID)">编辑</a>   
                                        }&nbsp;                                        
                                        <a href="~/WorkerPool/Draw/@(item.ID)?page=@(ViewBag.page)&field=@(ViewBag.field)&condition=@(ViewBag.condition)&search=@(HttpUtility.UrlEncode(HttpUtility.UrlEncode((string)ViewBag.search)))&by=@(ViewBag.by)">领取</a>&nbsp; 
                                    </td>
                                </tr>
                                }
                                if (Model.Count() == 0)
                                {
                                <tr>
                                    <td colspan="10" style="color: red; text-align: center;">没有数据</td>
                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    <script type="text/javascript">
        $(function () {

            var by = querySt("by");
            var field = querySt("field");
            var condition = querySt("condition");
            var search = querySt("search");
            if (by != null && by != undefined && by != "")
            {
                $("#view_by").find("a").removeAttr("Class");
                $("#view_by").find("a[href*=" + by + "]").attr("Class", "active");
            }
            if (field != null && field != undefined && field != "") {
                $("#field").val(field);
            }
            if (condition != null && condition != undefined && condition != "") {
                $("#condition").val(condition);
            }

            $("#check_all").click(function () {
                $("input[class='check_list']").prop('checked', $(this).prop("checked"));
            });
            $('#delete').click(function () {
                if (confirm("确定要删除吗？")) {
                    $("#form1").attr('action', '/WorkerPool/Delete?page=@(ViewBag.page)&field=@(ViewBag.field)&condition=@(ViewBag.condition)&search=@(HttpUtility.UrlEncode(HttpUtility.UrlEncode((string)ViewBag.search)))&by=@(ViewBag.by)');
                    $("#form1").submit();
                }
            });
            $('#remove').click(function () {
                if (confirm("确认要领取吗？")) {
                    $("#form1").attr('action', '/WorkerPool/Draw?page=@(ViewBag.page)&field=@(ViewBag.field)&condition=@(ViewBag.condition)&search=@(HttpUtility.UrlEncode(HttpUtility.UrlEncode((string)ViewBag.search)))&by=@(ViewBag.by)');
                    $("#form1").submit();
                }
            });
            $("#dosearch").click(function () {
                result = checkSearchForm();
                if (result) {
                    $("#searchForm").submit();
                }
                else {
                    return false;
                }

            });
        });
    </script>

