@model IEnumerable<JSYCRM.Models.z_parameter>

@{
    ViewBag.Title = "Parameters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h4>Parameters</h4>
</div>
<div class="tabbable">
    <ul class="nav nav-tabs">
        @{
            if (ViewBag.Type == "Client")
            {
                <li class="active"><a href="~/Parameter/Index?Type=Client">Client</a></li>
                <li><a href="~/Parameter/Index?Type=LDAP">LDAP</a></li>
            }
            else
            {
                <li><a href="~/Parameter/Index?Type=Client">Client</a></li>
                <li class="active"><a href="~/Parameter/Index?Type=LDAP">LDAP</a></li>
            }
        }
        
    </ul>
    <div class="row">
        <div class="span12" style="margin-bottom:10px;">
            @if (ViewBag.message != null)
            { 
                @Html.Partial("_OperaMessage", new { ViewBag.message })
            }
        </div>
        <div class="span12">
            <form id="form1" method="Post">
                <table class="table table-hover table-striped table_thead_fixed">
                    <thead>
                        <tr>
                            <th style="width: 71px;">
                                <input id="check_all" class="check_all" name="check_all" type="checkbox">
                                &nbsp;</th>
                            <th style="width: 151px;">Name</th>
                            <th style="width: 264px;">Value</th>
                            <th style="width: 264px;">Description</th>
                            <th style="width: 106px;">Updated By</th>
                            <th style="width: 123px;">Updated</th>
                            <th style="width: 206px;">Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td><input class="check_list" name="parameter_id[]" value="@item.ID" type="checkbox"></td>
                                    <td>@Html.DisplayFor(modelItem => item.NAME)</td>
                                    <td>@Html.DisplayFor(modelItem => item.VALUE)</td>
                                    <td>@Html.DisplayFor(modelItem => item.DESCRIPTION)</td>
                                    <td>@Html.DisplayFor(modelItem => item.UPDATE_USER)</td>
                                    <td><notempty name="vo.update_time">@Html.DisplayFor(modelItem => item.UPDATE_DATETIME)</notempty></td>
                                    <td><a href="~/Parameter/Edit?Type=@(ViewBag.Type)&ID=@item.ID">Edit</a></td>
                                </tr>
                            }
                            if (Model.Count() == 0)
                            {
                            <tr>
                                <td colspan="7" style="color:red; text-align:center;">No Parameter</td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
<!-- End #main-content -->
