@model IEnumerable<JSYCRM.Models.z_parameter>

@{
    ViewBag.Title = "系统管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h4>系统管理</h4>
</div>
<div class="tabbable">
    <ul class="nav nav-tabs">
        @{
            if (ViewBag.Name == "分公司")
            {
                <li class="active"><a href="~/Parameter/Index?Name=@(HttpUtility.UrlEncode(HttpUtility.UrlEncode((string)"分公司")))">分公司管理</a></li>
                <li><a href="~/Parameter/Index?Name=@(HttpUtility.UrlEncode(HttpUtility.UrlEncode((string)"职位")))">职位管理</a></li>
                <li><a href="~/Parameter/Index?Name=@(HttpUtility.UrlEncode(HttpUtility.UrlEncode((string)"地区")))">地区管理</a></li>
            }
            else if (ViewBag.Name == "职位")
            {
                <li><a href="~/Parameter/Index?Name=@(HttpUtility.UrlEncode(HttpUtility.UrlEncode((string)"分公司")))">分公司管理</a></li>
                <li class="active"><a href="~/Parameter/Index?Name=@(HttpUtility.UrlEncode(HttpUtility.UrlEncode((string)"职位")))">职位管理</a></li>
                <li><a href="~/Parameter/Index?Name=@(HttpUtility.UrlEncode(HttpUtility.UrlEncode((string)"地区")))">地区管理</a></li>
            }
            else
            {
                <li><a href="~/Parameter/Index?Name=@(HttpUtility.UrlEncode(HttpUtility.UrlEncode((string)"分公司")))">分公司管理</a></li>
                <li><a href="~/Parameter/Index?Name=@(HttpUtility.UrlEncode(HttpUtility.UrlEncode((string)"职位")))">职位管理</a></li>
                <li class="active"><a href="~/Parameter/Index?Name=@(HttpUtility.UrlEncode(HttpUtility.UrlEncode((string)"地区")))">地区管理</a></li>
            }
        }
        
    </ul>
    <div class="row">
        <div class="span12" style="margin-bottom:10px;">
            @if (ViewBag.message != null)
            { 
                @Html.Partial("_OperaMessage", new { ViewBag.message })
            }
            <div class="bulk-actions align-left">
                <div class="pull-left"><a style="margin-right: 5px;" id="delete" class="btn"><i class="icon-remove"></i>&nbsp;删除</a></div>
            </div>
            <div class="pull-right"><a class="btn btn-primary" href="~/Parameter/Create?Name=@(HttpUtility.UrlEncode(HttpUtility.UrlEncode((string)ViewBag.Name)))"><i class="icon-plus"></i>&nbsp; 新建@(ViewBag.Name) </a></div>
        </div>
        <div class="span12">
            <form id="form1" method="Post">
                <table class="table table-hover table-striped table_thead_fixed">
                    <thead>
                        <tr>
                            <th style="width: 71px;">
                                <input id="check_all" class="check_all" name="check_all" type="checkbox">
                                &nbsp;</th>
                            <th style="width: 151px;">名称</th>
                            <th style="width: 264px;">描述</th>
                            <th style="width: 106px;">创建人</th>
                            <th style="width: 123px;">更新时间</th>
                            <th style="width: 206px;">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td><input class="check_list" name="parameter_id[]" value="@item.ID" type="checkbox"></td>
                                    <td>@Html.DisplayFor(modelItem => item.VALUE)</td>
                                    <td>@Html.DisplayFor(modelItem => item.DESCRIPTION)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CREATE_USER)</td>
                                    <td><notempty name="vo.update_time">@Html.DisplayFor(modelItem => item.CREATE_DATETIME)</notempty></td>
                                    <td><a href="~/Parameter/Edit?Name=@(HttpUtility.UrlEncode(HttpUtility.UrlEncode((string)ViewBag.Name)))&ID=@item.ID">编辑</a></td>
                                </tr>
                            }
                            if (Model.Count() == 0)
                            {
                            <tr>
                                <td colspan="6" style="color:red; text-align:center;">没有数据</td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
<!-- End #main-content -->
<script type="text/javascript">
    $(function () {
        $("#check_all").click(function () {
            $("input[class='check_list']").prop('checked', $(this).prop("checked"));
        });
        $('#delete').click(function () {
            if (confirm("确定要删除吗？")) {
                $("#form1").attr('action', 'Delete?Name=@(HttpUtility.UrlEncode(HttpUtility.UrlEncode((string)ViewBag.Name)))');
                $("#form1").submit();
            }
        });
    });
</script>
