@model JSYCRM.Models.m_announcement

@{
    ViewBag.Title = "View Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h4>View Message</h4>
</div>
@if (ViewBag.message != null)
{ 
    @Html.Partial("_OperaMessage", new { ViewBag.message })   
}
<div class="row">
    <div class="span12">
        <input type="hidden" name="announcement_id" value="8" /><table class="table" width="95%" border="0" cellspacing="1" cellpadding="0">
            <tfoot>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                    <a class="btn btn-primary" href="~/Announcement/Edit/@(Model.ID)">Edit</a>&nbsp; 
                    <a class="btn" href="javascript:history.go(-1)">Back</a></td>
                </tr>
            </tfoot>
            <tbody width="100%">

                <tr>
                    <td class="tdleft">Title</td>
                    <td>
                        @(Model.TITLE)
                    </td>
                </tr>
                <tr>
                    <td class="tdleft">To</td>
                    <td>
                        <div id="btnAddUserList"><ul class='nav nav-list' style="cursor:default;"></ul></div>
                        <input type="text" name="to" id="to" style="display:none;" value="@(Model.DEPARTMENT)" />
                    </td>
                </tr>
                <tr>
                    <td class="tdleft">Content</td>
                    <td>
                        @Html.Raw(Model.BODY)
                    </td>
                </tr>
                <tr>
                    <td class="tdleft">Author</td>
                    <td>@(Model.CREATE_USER)</td>
                </tr>
                <tr>
                    <td class="tdleft">Updated</td>
                    <td style="width: 1000px;">@(Model.UPDATE_DATETIME.ToString("yyyy-MM-dd H:mm"))</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/userPicker.js"></script>
<script type="text/javascript">
    refreshFrom($("#to").val(), false);
</script>
