@model IEnumerable<JSYCRM.Models.m_announcement>
@{
    ViewBag.title = "Messages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <p class="view"></p>
    <h4>Messages</h4>
    <p></p>
</div>
@if (ViewBag.message != null)
{ 
    @Html.Partial("_OperaMessage", new { ViewBag.message })   
}
<div class="row">
    <form id="announcement_form" method="post">
        <div class="span12">
            <ul class="nav pull-left">
                <li class="pull-left">
                    <ul class="nav pull-left">
                        <li class="pull-left">
                            <div class="pull-left"><a style="margin-right: 5px;" id="delete" class="btn"><i class="icon-remove"></i>&nbsp;Delete</a></div>
                        </li>

                        <li id="searchContent" class="pull-left">&nbsp;&nbsp;
                            Title:
                            <input id="search" type="text" class="input-medium search-query" name="search" value="@(ViewBag.search)">&nbsp;&nbsp;
                        </li>
                        <li class="pull-left">
                            <button type="button" id="dosearch" class="btn">
                                <img src="~/Images/search.png">Search</button>
                        </li>

                    </ul>
                </li>
            </ul>
            <div class="pull-right"><a class="btn btn-primary" href="~/Announcement/Create"><i class="icon-plus"></i>&nbsp; New Message</a></div>
        </div>
        <div class="span12">
            <table class="table table-hover table-striped">
                <thead class="">
                    <tr>
                        <th style="width: 49px;">
                            <input class="check_all" name="check_all" id="check_all" type="checkbox">&nbsp;
                        </th>
                        <th style="width: 334px;">Title</th>
                        <th style="width: 99px;">Author</th>
                        <th style="width: 143px;">Updated</th>
                        <th style="width: 185px;">Operation</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="7">
                            <div class="pagination">
                                <div class="row pagination">
                                    <div class="span2">Total<b>@(ViewBag.recordCount)</b> items, <b>@(ViewBag.page)</b>/<b>@(ViewBag.pageNum)</b> Page</div>
                                    <div class="span">
                                        <div>
                                            <ul>
                                                @{
                                                    if (ViewBag.page > 1)
                                                    {
                                                    <li><a href="~/Announcement/Index?page=1&search=@(HttpUtility.UrlEncode(HttpUtility.UrlEncode((string)ViewBag.search)))">First</a></li>
                                                    <li><a href="~/Announcement/Index?page=@(ViewBag.page - 1)&search=@(HttpUtility.UrlEncode(HttpUtility.UrlEncode((string)ViewBag.search)))">&lt; Previous</a></li>
                                                    }
                                                    else
                                                    {
                                                    <li><span>First</span></li>
                                                    <li><span>&lt; Previous</span></li>
                                                    }
                                                    if (ViewBag.page < ViewBag.pageNum)
                                                    {
                                                    <li><a href="~/Announcement/Index?page=@(ViewBag.page + 1)&search=@(HttpUtility.UrlEncode(HttpUtility.UrlEncode((string)ViewBag.search)))">Next &gt;</a></li>
                                                    <li><a href="~/Announcement/Index?page=@(ViewBag.pageNum)&search=@(HttpUtility.UrlEncode(HttpUtility.UrlEncode((string)ViewBag.search)))">Last</a></li>
                                                    }
                                                    else
                                                    {
                                                    <li><span>Next &gt;</span></li>
                                                    <li><span>Last</span></li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="span2">
                                        Go to 
                                        <select style="width: auto; display: inline-block;" name="p" onchange="go_pagep(this.value)">
                                            @{
                                                for (int i = 1; i <= ViewBag.pageNum; i++)
                                                {
                                                    if (i == ViewBag.page)
                                                    {
                                                <option value="~/Announcement/Index?page=@(i)&search=@(HttpUtility.UrlEncode(HttpUtility.UrlEncode((string)ViewBag.search)))" selected="selected">@(i)</option> 
                                                    }
                                                    else
                                                    { 
                                                <option value="~/Announcement/Index?page=@(i)&search=@(HttpUtility.UrlEncode(HttpUtility.UrlEncode((string)ViewBag.search)))">@(i)</option> 
                                                    }
                                                }    
                                            }
                                        </select><script type="text/javascript">
                                                     function go_pagep(page) {
                                                         window.location = page;
                                                     }
                                        </script>
                                         page
                                    </div>
                                </div>
                                <!-- End .pagination -->
                                <div class="clear"></div>
                            </div>
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    @{
                        foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                <input class="check_list" name="id[]" type="checkbox" value="@(item.ID)">
                            </td>
                            <td>
                                <a href="~/Announcement/Details/@(item.ID)">@(item.TITLE)</a>
                            </td>
                            <td>@(item.CREATE_USER)</td>
                            <td>@(item.UPDATE_DATETIME.ToString("yyyy-MM-dd H:mm"))</td>
                            <td>
                                <a href="~/Announcement/Details/@(item.ID)" title="View"><i class="icon-search">&nbsp; View</i></a>&nbsp;
                                <a href="~/Announcement/Edit/@(item.ID)" title="Edit"><i class="icon-edit">&nbsp; Edit</i></a>
                            </td>
                        </tr>
                        }
                        if (Model.Count() == 0)
                        {
                        <tr>
                            <td colspan="8" style="color: red; text-align: center;">No Message</td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(function () {
        $("#check_all").click(function () {
            $("input[class='check_list']").prop('checked', $(this).prop("checked"));
        });
        $('#delete').click(function () {
            if(confirm("Confirm Delete?")) {
                $("#announcement_form").attr('action', 'Delete');
                $("#announcement_form").submit();
            }
        });

        $("#search").keypress(function (e) {
            if (e.keyCode == 13) {
                $('#dosearch').click();
                return false;
            }
        });

        $('#dosearch').click(function () {
            var search = encodeURIComponent($('#search').val());
            var href = location.href;
            if (href.indexOf("?") > 0) {
                href = href.substring(0, href.indexOf("?"));
            }
            location.href = href + "?search=" + search;
        });
    });
</script>
